
#hero-main-page {
    width: 100%;
    height: 500px;
}



p {
    text-align:center;
    }
h4 {
    text-align:center;
    }
ul {
    text-align:left; color:gold; background-color:black;
}    
ol {
    text-align:left; color:aquamarine; background-color:black;
}
